.user-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.user-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    background-color: darkslategray;
    color: chocolate;
}

.user__name {
    font-size: 1.2rem;
    text-align: center;
    color: green
}

.user__email {
    text-align: center;
    color: #d36b6b;
    margin-bottom: 0.5rem;
}

.user__description {
    text-align: center;
}