<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE Implementation</title>
</head>
<body>
    <div class="container">
        <h1>Home</h1>
        <a href="/form">Form</a>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </div>
</body>
</html>